{{ $fonts := "dist/fonts/" | absURL }}
$fonts-folder: '{{ .Site.Params.CustomFontsURL | default $fonts }}';

// Set the with of the main content area
// Notice that the actual content's width is $site-width - 100px
$site-width: {{ .Site.Params.SiteWidth | default "800px" }};

// Define your fonts.
// If you want to import new fonts, set them in /src/css/fonts.css
$headline-font: 'Play', sans-serif;
$content-font: 'Lato', sans-serif;
$article-footer-font: 'Roboto Mono', monospace;

$secondary-font: 'Roboto', sans-serif;

// main colors
$page-background-color: #B5DCE8;
$base-color: #0D1321;
$special-color: #094074;
$highlight-color: #3D7DC5;
$text-color: #222;

// easy styling
$nav-background-color: $special-color;
$nav-text-color: $page-background-color;
$algolia-search-box-color: #444;
$algolia-search-box-icon-color: #888;
$algolia-search-box-background-color: #fafafa;
$algolia-border-color: #e4e4e4;

$header-text-color: white;
$logo-color: white;
$bubble-color: #fff;
$bubble-background-color: #ccc;
$bubble-hover-color: $highlight-color;

$article-background-color: #F7FFF7;
$meta-text-color: #999;
$meta-border-color: #eee;
$continue-reading-hover-color: $meta-text-color;

$footer-border-color: #eee;
$footer-background-color: #FFFFB3;
$footer-headline-color: #0D1321;


@mixin featuredImage() {
    .featured-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        opacity: 0.25;
    }
}
