{{ define "main" }}
<div class="content">
    <div class="article-wrapper u-cf single">
        <a class="bubble" href="{{ "/authors/" | relLangURL}}">
            <i class="fa fa-fw fa-users"></i>
        </a>

        <article class="article">
            <div class="content">
                <h3>{{ i18n "authors" }}</h3>
                <hr>
                <ul id="all-categories">
                    {{ range $name, $taxonomy := .Site.Taxonomies.authors }}
                        <li><a href="{{ "/authors/" | relLangURL }}{{ $name | urlize }}">{{ $name | humanize }} ({{ $taxonomy.Count }})</a></li>
                    {{ end }}
                </ul>
            </div>
        </article>
    </div>
</div>
{{ end }}